
h1
{
color:#fff;
font-size:46px;
text-shadow: 2px 2px 0 #08c;
font-weight: normal;

}
ul
{
  max-width:800px;
  margin:0 auto;
  padding:0;
  list-style:none;
}
ul li
{
  display:block;
  width:200px;
  height:340px;
  padding:00;
  cursor:pointer;
  float:left;
  position: relative;
}
.P1
{
  background-image:url("https://banner2.kisspng.com/20190704/fkb/kisspng-apex-legends-video-games-fortnite-battle-royale-ga-christian-twitteriss-ampquotampquotwraith-5d1eab65782383.5128138315622910454921.jpg");
}
.P2
{
  background-image: url("https://banner2.kisspng.com/20180711/xbq/kisspng-computer-icons-symbol-clip-art-figura-humana-5b46988c275d13.4536041915313532281612.jpg");
}
