h1
{
font-size:100px;
text-shadow: 10px 5px 10px #7C7575;
text-align: center;
}
h2
{
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  color:red

}
body
{
  background-image: url("https://media.giphy.com/media/zeo4Mj16KrRK0/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: grey;
}
h4
{
margin-left: 0px;
font-size: 32px;
}
h5
{
  
}
