body
{
  background-image: url("https://deow9bq0xqvbj.cloudfront.net/image-logo/4827848/utBai2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
h1
{
  position: absolute;
	top: 350px ;
	right: 187px ;
  color: grey;
  text-shadow: 10px 5px 10px #7C7575;
  font-size: 25px
}
h2
{
  position: absolute;
  top: 350px ;
  left: 300px ;
  color: grey;
  text-shadow: 10px 5px 10px #7C7575;
  font-size: 25px
}
h3
{
  position: absolute;
  top: 5px ;
  left: 195px ;
  color: grey;
  text-shadow: 10px 5px 10px #7C7575;
  font-size: 45px
}
h4
{
  position: absolute;
  top: 115px ;
  left: 335px ;
  color: grey;
  text-shadow: 10px 5px 10px  #7C7575;
  font-size: 40px
}
h5
{
  position: absolute;
  top: 225px ;
  left: 476px ;
  color: grey;
  text-shadow: 10px 5px 10px  #7C7575;
  font-size: 25px
}
h6
{
  position: absolute;
  top: 275px ;
  left: 525px ;
  color: grey;
  text-shadow: 10px 5px 10px  #7C7575;
  font-size: 23px
}
h7
{
  position: absolute;
  top: 400px ;
  left: 610px ;
  color: grey;
  text-shadow: 10px 5px 10px  #7C7575;
  font-size: 21px
}
h8
{
  position: absolute;
  top: 450px ;
  left: 650px ;
  color: grey;
  text-shadow: 10px 5px 10px  #7C7575;
  font-size: 20px
}
#button{color: grey;}
