<!DOCTYPE html>
<html>
<link rel= "stylesheet" href="/home/user/CSSIX/Butterflyeffect/first-repo/Static/css/index.css">
<head>
  <h1> The Flutter Forest</h1>
  <h2> By: Selena Lainez, Chris Girod , Pedro Morales, Misael  &copy;</h2>
</head>
<body>
  <h4>
    <input type= "submit" style="width:150px; height:50px; font-size: 32px;" value="Start">
 </h4>
 <div class="container">
   <label for="uname"> <b> Username </b>
   </label>
 <form>
   <input type="text" placeholder="Enter Username" onclick="window.location.href" value= "enterusername">
 </form>
   <h6>
     <id = "Audio"
    <audio controls>

  </h6>
</body>
</html>
