<!DOCTYPE html>
<html>
<link rel= "stylesheet" href="Static/css/index.css" type="text/css">
<head>
  <h1> The Flutter Forest</h1>
  <h2> By: Selena Lainez, Chris Girod , Pedro Morales, Misael Alcala &copy;</h2>
</head>
<body>
  <h4>
    <div class="container">


<form action="/character" method="post">
  <label for="uname"> <b> Username </b>
  </label>
  <br>
  <input type="text" placeholder="Enter Username" name="uname" required>
  <br>
      Choose your character:
      <select name="character_choice">
        <option value="Male"> Male </option>
        <option value="Female"> Female </option>
        <option value="Attack Helicopter"> Attack Helicopter </option>
      </select>
      <br>
      <input type="submit" style="width: 150px; height: 50px; font-size: 36px;" value="Start">
    </form>
 </h4>

  <h5>

  </h5>
   <h6>


  </h6>
</body>
</html>
