<!DOCTYPE html>
<html>
<head>
  <link rel= "stylesheet" href="Static/css/Path.css" type="text/css">
  <div class="typewriter">
  <h5>
While walking in the forest
<br>
You come across three paths
<br>
One path leads to definite death
<br>
Choose your path carefully

    </h5>
    </div>


</head>


<body>
  <form action="/LevelTwo">
<input type="submit" style="width: 200px; height: 50px; font-size: 36px;" value="Left">
</form>
<form action="/Cave">
<input type="submit" style="width: 200px; height: 50px; font-size: 36px;" value="Right">
</form>
<form action="/House">
<input type="submit" style="width: 200px; height: 50px; font-size: 36px;" value="Forward">
</form>
<form action="/Death">
<input type="submit" style="width: 200px; height: 50px; font-size: 36px;" value="Turn Back">
</form>


</body>
</html>
