<!--https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4ioMC9gKOKiSyJZ1wLP6Lmxi16TqQsnoZmVXi5kGDdWQJHJG5-->
<!DOCTYPE html>
<html>
<head>
  <link rel= "stylesheet" href="Static/css/index.css" type="text/css">
</head>
  <h1> Mr.Clown</h1>

<body>


    <audio autoplay loop>
        <source src="Horror clown sound.mp3" type="audio/mpeg">
      </audio>
      <form action="/testing">
        What do you want? HAHAHHAHAHAHAHAHAHAHHAHHAHHAH!!!!!!
      <input id="textBox" type="text"  name="userinput">
      <input id="firstbutton" type="submit"  value="Balloon animal">
      <input id="secondtbutton" type="submit"  value="Hear a joke?">
      <input id="thirdbutton" type="submit"  value="See a Magic trick?">
      <input id="foruthbutton" type="submit"  value="Shut up take me to the next level">
    </form>

</body>
</html>
