<!DOCTYPE html>
<html>
<head>
  <link rel= "stylesheet" href="Static/css/index.css" type="text/css">
  <div class="typewriter">
  <h5>
You wake up in the middle of a dark forest
<br>
 You have lost your keys and are stranded far away from your car
 <br>
Your vision has become blurred
<br>
Your Task:
<br>
Find your way out of the forest at all costs
<br>

    </h5>
    </div>


</head>


<body>
  <form action="/LevelOne">
<input type="submit" style="width: 200px; height: 50px; font-size: 36px;" value="Continue">
</form>


</body>





</html>
